<form class="add-board-form form-group" method="post">
  <h4> Create Board </h4> <i class="cancel fa fa-times"></i>
  <br>
  <hr>
  <a href="#"></a>
  <label>Title<br>
    <input type="text" class="form-control title" name="title" placeholder="stuff to do">
  </label>
  <br>
  <input type="submit" class="submit btn btn-primary" value="create">
</form>
